.container {
  width: 300px;
  height: max-content;
  background: rgb(163, 201, 134);
  box-shadow: 0 4px 6px rgba(0, 0, 0,0.1);
  margin: 20px;
  border-radius: 5px;

}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: aqua;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.imgContainer{
  height:200px;
  position: relative;
  width:200px;


}
.image{
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}



.date {
  transform: rotate(270deg);

}

.bottom {
  display: flex;
  align-items: left;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  padding-top: 10px;
  flex-direction: column;
}
